<body>

	<div class="header">
		<h1>Let's Get To Know You</h1>
	</div>

	<div class="nameForm">
		<form method="post" action="/names">
			<div class="inputBox">
				<input type="text" placeholder="First Name" name="first" required="">
				<input type="text" placeholder="Last Name" name="last" required="">
			</div>

			<div class="subBtn">
				<input type="submit" name="Submit">
			</div>
			
		</form>
	</div>
</body>
