<body>
	<div class="header2">
				<h2>We need some information <%= first%></h2>
	</div>

	<div class="container">
		<form method="post" action="info">
			<div class="inputBox2">
				<label>State</label>
				<input type="text" name="state">
				<label>City</label>
				<input type="text" name="city">
				<label>Str</label>
				<input type="text" name="street">
				<label>Zip</label>
				<input type="number" name="zip">
				<input type="hidden" name="first" value='<%= first%>'>
			</div>

			<div class="btn1">
				<input type="submit" value="Next >" id="hover2">
			</div>
			<div class="btn2">
				<input type="button" value="< Back" onclick="history.back()" id="hover2">
			</div>
		</form>
	</div>
</body>