body {
	margin: 0;
	padding: 0;
	background-image: url("https://images.pexels.com/photos/257092/pexels-photo-257092.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Quicksand', sans-serif;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}

.header {
	font-size: 20px;
	color: #333;
	text-align: center;
}

.nameForm {
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	padding: 50px;
	background: rgba(0,0,0,0.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,0.9);
	border-radius: 10px;
}

.nameForm .inputBox {
	color: #fff;
}

.nameForm .inputBox input {
	margin: 20px 0;
	width: 100%;
	background: rgba(0,0,0,0);
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
}

::-webkit-input-placeholder {
	color: #EAEAEA;
	font-size: 14px;
	letter-spacing: 2px;
}

.subBtn input[type="submit"] {
	border-style: none;
	border-radius: 10px;
	width: 80px;
	background-color: #ff72a6;
	cursor: pointer;
	padding: 5px;
	margin-top: 10px;
	color: #000;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

.inputBox input[type="text"] {
	color: #fff;
	font-size: 16px;
}

#hover:hover {
	background-color: #efaab3;
}

@media screen and (min-width: 320px) and (max-width : 480px) {

	.nameForm {
		margin-top: 50px;
		position: absolute;
		top: 30%;
		left: 50%;
		width: 200px;
		transform: translate(-50%, -50%);	
		padding: 50px;
		background: rgba(0,0,0,0.8);
		box-sizing: border-box;
		box-shadow: 0 15px 25px rgba(0,0,0,0.8);
		border-radius: 10px;
	}
}

.header2 {
	margin-top: 75px;
	font-size: 12px;
	color: #333;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

.container {
	margin-top: 100px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	padding: 58px;
	background: rgba(0,0,0,0.05);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,0.7);
	border-radius: 10px;
}

.container .inputBox2 {
	padding-top: 25px;
}

.container .inputBox2 label {
	color: #000;
	font-weight: bold;
}

.container .inputBox2 input {
	margin: 20px 0;
	width: 100%;
	background: rgba(0,0,0,0);
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	color: #000;
	font-size: 14px;
	letter-spacing: 2px;
	border-color: #000;
}

.inputBox2 input[type="text"] {
	color: #000;
	font-size: 16px;
}

.btn1 input[type="submit"] {
	font-size: 16px;
	font-weight: bold;
	margin-top: 25px;
	float: right;
	border-style: none;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn2 input[type="button"] {
	font-size: 16px;
	font-weight: bold;
	margin-top: 25px;
	float: left;
	border: none;
	outline: none;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

#hover2:hover {
	opacity: 0.4;
}



.container2 {
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	padding: 50px;
	background: rgba(181,30,110,0.2);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,0.7);
	border-radius: 15px;
}


.container2 .inputBox3 input {
	margin: 20px 0;
	width: 100%;
	background: rgba(0,0,0,0);
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
}

.header4 {
	text-align: center;
}